.login-main-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  box-shadow: 2px 2px 5px 5px rgba(126, 126, 126, 0.145);
  padding: 30px;
  border-radius: 20px;
  .login-logo {
    width: 100%;
    > img {
      width: 150px;
      height: auto;
    }
  }
  .login-inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    > p {
      font-size: 16px;
      color: rgba(0, 0, 0, 50%);
      margin: 20px 5px;
    }
    > h2 {
      font-size: 56px;
    }

    .input-box-email {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      > p {
        margin: 5px;
        font-size: 16px;
      }
      > input {
        outline: none;
        border: none;
        background-color: #fff6f4;
        padding: 10px;
        border-radius: 5px;
        width: 300px;
        font-size: 14px;
      }
    }

    .input-box-password {
      .label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;
        font-size: 16px;
      }
      .input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff6f4;
        border-radius: 5px;
        padding-right: 10px;
        max-width: 300px;
        > input {
          outline: none;
          border: none;
          background-color: #fff6f4;
          padding: 10px;
          border-radius: 5px;
          max-width: 250px;
          font-size: 14px;
        }
        .password-icon {
          > svg {
            font-size: 20px;
          }
        }
      }
    }

    .login-btn {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 50px;
      padding: 10px;
      background-color: #f47458;
      color: #fff;
      max-width: 150px;
      border-radius: 50px;
      cursor: pointer;
      > p {
        font-size: 16px;
        font-weight: 600;
      }
      > svg {
        font-size: 22px;
      }

      &:hover {
        > svg {
          transform: translateX(10px);
        }
      }
    }
  }
  .login-remark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;

    > span {
      color: #0000003d;
      > strong {
        cursor: pointer;
        color: #f47458;
      }
    }
  }
}
