.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #634c9f;
  width: 100%;
  color: #ffffff;

  > h4 {
    font-size: 12px;
    font-weight: 500;
    margin: 0 5rem;
  }

  > h5 {
    display: flex;
    align-items: center;
    color: #e0d8ec;
    font-size: 12px;
    font-weight: 100;
    > p {
      font-size: 18px;
      font-weight: 800;
      display: flex;
      margin: 5px;
      color: #ffffff;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .header-row-first {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10rem;
    border-bottom: 0.1px solid #e5e7eb;
    .links {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #6b7280;

      > a {
        text-decoration: none;
        color: #6b7280;
        padding: 8px;
        font-weight: 400;
      }

      > p {
        font-weight: 200;
        margin-left: 20px;
        > strong {
          color: #ea580c;
          font-weight: 1000;
        }
      }
    }
    .header-details {
      display: flex;
      > p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 12px;
        font-weight: 400;
        color: #6b7280;
        cursor: pointer;
        > svg {
          margin-left: 5px;
        }
      }
    }
  }
  .header-row-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10rem;
    border-bottom: 0.1px solid #e5e7eb;
    background-color: #f3f4f6;

    .logo {
      padding: 5px;

      > img {
        width: 100px;
        height: auto;
        cursor: pointer;
      }
    }
    > .products-categories {
      > .categories {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        color: #39245fcb;
        padding: 5px;

        > svg {
          color: #030712;
          margin: 5px;
          font-size: 20px;
          cursor: pointer;
        }
      }
      > .proudct-categories {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        z-index: 20;
        position: absolute;
        top: 110px;
        background-color: #fff;
        overflow-y: auto;
        background-color: #f3f4f6;
        padding-top: 10px;
        transition: all 0.5s ease-in-out;

        > div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 12px 30px;
          // border-bottom: 1px solid #d1d5db;
          transition: all 0.3 ease-in-out;
          &:hover {
            background-color: #634c9f;
            color: white;
          }
        }
      }

      &:hover {
        > .proudct-categories {
          display: block;
        }
      }
    }

    .search-box {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-right: 5px;
      cursor: pointer;

      > input {
        width: 600px;
        background-color: #f3f4f6;
        color: #6b7280;
        outline: none;
        border: none;
        padding: 10px;
      }
      > svg {
        font-size: 20px;
      }
    }
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #030712;
      cursor: pointer;
      > p {
        font-size: 12px;
        padding: 5px;
      }

      > svg {
        font-size: 20px;
      }
    }
  }

  .header-row-third {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10rem;

    > div {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 600;
      color: #01040e;
      > span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 10px;
        cursor: pointer;

        > p {
          margin-right: 5px;
        }

        > svg {
          color: #030712a3;
        }
      }
    }

    .left {
      .warning {
        color: #dc2626;
        cursor: pointer;
        font-weight: 500;

        > p {
          margin: 0 5px;
          border-radius: 5px;
          font-size: 10px;
          padding: 2px 5px;
          color: white;
          background-image: linear-gradient(#dc2626, #ea580c);
        }

        > svg {
          color: #ea580c;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .header {
    .header-row-second {
      padding: 0 5rem;
    }
    .header-row-first {
      padding: 0 5rem;
    }
    .header-row-third {
      padding: 0 5rem;
    }
  }
}

@media screen and (max-width: 1220px) {
  .discount {
    display: none;
  }
  .header {
    .header-row-second {
      padding: 0 5rem;
      .search-box {
        > input {
          width: 300px;
        }
      }
    }
  }
}
