.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #634c9f;
  width: 100%;
  color: #ffffff;

  > h4 {
    font-size: 12px;
    font-weight: 500;
    margin: 0 5rem;
  }

  > h5 {
    display: flex;
    align-items: center;
    color: #E0D8EC;
    font-size: 12px;
    font-weight: 100;
    > p {
      font-size: 18px;
      font-weight: 800;
      display: flex;
      margin: 5px;
      color: #ffffff;
    }
  }
}
