.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 5rem 0;
  transition: all 1s ease-in-out;

  .inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 10rem;
    z-index: 10;
    max-width: 650px;
    .discount {
      display: flex;
      width: 130px;
      font-size: 12px;
      font-weight: 500;
      color: #166534;
      border-radius: 5px;
      background: linear-gradient(
        90deg,
        rgba(22, 163, 74, 0.5) 0%,
        rgba(33, 194, 92, 0.045) 100%
      );
      padding: 5px;
    }

    > h3 {
      color: #39245f;
      font-size: 58px;
    }

    .details {
      max-width: 500px;
      font-size: 16px;
      font-weight: 300;
      margin: 10px 0;
      color: #030712;
    }

    .offers {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > p {
        display: flex;
        align-items: center;
        background-color: #634c9f;
        color: #ffffff;
        padding: 10px 10px 10px 15px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 10px;
        margin-right: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        > svg {
          font-size: 18px;
          margin-left: 30px;
        }

        &:hover {
          color: #634c9f;
          background-color: #ffffff;
        }
      }
      .price {
        color: #dc2626;
        font-size: 28px;
        font-weight: 600;
        > p {
          color: #030712;
          font-size: 11px;
          font-weight: 400;
        }
      }
    }
  }
}

.top-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  padding: 1rem 10rem;
  .top-catrgories-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 10px;
      }
      > p {
        font-size: 13px;
        font-weight: 300;
        color: #9ca3af;
      }
    }

    .top-categories-view-all {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      font-size: 12px;
      font-weight: 600;
      border: 1px solid #e5e7eb;
      border-radius: 20px;
      padding: 5px 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      > svg {
        font-size: 15px;
        margin-left: 5px;
      }
      &:hover {
        background-color: #e5e7eb;
      }
    }
  }

  .products {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      // border: 1px solid #e5e7eb;

      > p {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .top-categories {
    .products {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    height: 380px;
    padding: 0;
    .inner{
      max-width: 450px;
      > h3 {
         
        font-size: 48px;
      }
    }
  }
  .top-categories {
    .products {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
