.product-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10rem;
  .product-details-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    
    .product-details-offer {
      display: flex;
      flex-direction: column;
      padding: 10px;
      > p {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #dc2626;
        padding: 5px;
        color: #fef2f2;
        font-weight: 600;
        font-size: 10px;
        max-width: 40px;
        margin: 5px 0;
      }
    }
    .product-details-image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: 60%;
      }
    }
  }
  .product-details-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
     
    .products-details-heading {
      border-bottom: 1px solid #d1d5db;
      > h3 {
        font-size: 38px;
        font-weight: 600;
      }
      .product-details-rating {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        > p {
          margin: 5px 10px;
          border: 1px solid #d1d5db;
          padding: 2px;
          border-radius: 5px;
          font-weight: 500;
          font-size: 13px;
          color: #030712;
        }
      }
    }
    .product-details-price {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      > h4 {
        color: #dc2626;
        font-size: 30px;
        font-weight: 600;
        margin : 10px 0 0 10px;
      }
      .product-details-options {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 20px 0;
        .product-number {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #d1d5db;
          border-radius: 10px;
          padding: 5px;
          margin: 10px;
          > svg {
            border-radius: 10px;
            font-size: 35px;
            padding: 5px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: #d1d5db76;
            }
          }
          > p {
            border-radius: 10px;
            font-size: 20px;
            padding: 5px;
            margin: 0 10px;
          }
        }
        .addtocart {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #d1d5db;
          border-radius: 10px;
          padding: 10px 15px;
          margin: 10px;
          background-color: #16a34a;
          color: #fff;
          > svg {
            font-size: 25px;
          }
          > p {
            font-size: 16px;
            font-weight: 600;
            padding: 5px;
          }
        }
        .buybuttom {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #d1d5db;
          border-radius: 10px;
          padding: 10px 15px;
          margin: 10px;
          background-color: #212529;
          color: #fff;
          > svg {
            font-size: 25px;
          }
          > p {
            font-size: 16px;
            font-weight: 600;
            padding: 5px;
          }
        }
      }
      .product-payment-offers {
        color: #6b7280;
        margin: 10px;
        .payment {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #e5e7eb;
          border-radius: 5px;
          padding: 15px;
          > svg {
            font-size: 35px;
          }
          > span {
            max-width: 90%;
            font-size: 13px;
          }
        }
        .warranty {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #e5e7eb;
          border-radius: 5px;
          padding: 15px;
          > svg {
            font-size: 35px;
          }
          > span {
            max-width: 90%;
            font-size: 13px;
          }
        }
      }
    }
  }
}
